/* Create Movie*/
.createMovie{
  border-style: solid;
  background-color: #9677b3;
  padding-bottom: 20px;
 }
 .createMovie label{
   display: inline-block;
   width: 80px;
   font-weight: bold;
 }
  .createMovie input{
    margin: 3px;
    border-style: solid;
  }

/*List Movies*/
.listMovies{
  margin: 0 auto;
  padding: 10px;
  width: 700px;
  background-color: white;
}
 .listMovies ul li{
   list-style: none;
   cursor: pointer;
   position: relative;
   left: 0;
   background-color: #EEE;
   margin: .5em;
   padding: .3em 0;
   height: 1.6em;
   border-radius: 4px;
   padding-left: 10px;
   font-weight: bold;
 }
 .listMovies ul li:hover{
   left:10px;
   border-style: solid;
 }
 .listMovies ul li.selected{
   background-color:  #9677b3 !important;
   color: white;
   border-color: black;
   border-style: solid;
 }
 .listMovies ul li button{
   float: right;
   margin-top: 2px;
   margin-right: .8em;
   background-color: grey !important;
   color:white;
 }

 #btn-slide{
   margin: 0;
 }


 /*Previuw Detil Movie*/
